body {
    font-family: Arial, sans-serif;
    background-color: #dcc4c4;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: calc(100% - 22px);
    /* Adjusting width to accommodate for border */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #d6d9dc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #798797;
}

.error-message {
    color: red;
}

#error-email {
    display: none;
}

#error-password {
    display: none;
}

.valid-message {
    color: green;
}